@charset "UTF-8";
/* CSS Document */

/* index-styles.css for index.php */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 60px; /* To ensure the navbar doesn't overlap the content */
}

main {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 85%;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}
